@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Varela+Round&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100vw;
    background-color: antiquewhite;
}

nav{
   font-family: 'Ubuntu', sans-serif; 
}

nav ul{
    display: flex;
    align-items: center;
    list-style: none;
    height: 65px;
    background-color: black;
    color: white;
}

nav ul li{
    padding: 0 12px;
}

.brand{
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.5rem;
}

.brand img{
    width: 45px;
    padding: 0 5px;
}

.container{
    min-height: 73vh;
    background-color: black;
    color: white;
    font-family: 'Varela Round',sans-serif;
    display: flex;
    width: 70%;
    margin: 23px auto;
    border-radius: 12px;
    padding: 34px;
    background-image: url('INSU.png');
}

.bottom{
    background-color: black;
    color: white;
    position: sticky;
    height: 130px;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.icon{
    margin-top: 15px;
}

.icon i{
    cursor: pointer;
    margin: 3px;
}

#Progressbar{
    width: 80vw;
    cursor: pointer;
}

.songItem{
    height: 50px;
    display: flex;
    background-color: white;
    color: black;
    width: 80%;
    margin: 12px 0px;
    justify-content: space-between;
    align-items: center;
    border-radius: 32px;
}

.songItemContainer{
    margin-top: 54px;
}

.songItem img{
    width: 43px;
    margin: 0 23px;
    border-radius: 34px;

}

.songlistplay i{
    margin: 5px;
}

.timestamp{
    margin: 0 25px;
}

.timestamp i{
    cursor: pointer;
}

.songInfo{
    position: absolute;
    left: 11vw;
}

.songInfo span{
    margin: 2px;
}

.songInfo img{
    opacity: 0;
    transition: opacity 0.4 is ease-in;
}
h1 {
    color: black;
}
